services:
  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    environment:
      - OLLAMA_URL=http://ollama:11434
      - OLLAMA_MODEL=gemma3:1b
      - OLLAMA_EMBED_MODEL=nomic-embed-text
    ports:
      - "5001:5000"
    depends_on:
      - ollama

  rag-ui:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    environment:
      - VITE_API_URL=http://localhost:5001
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  ollama_data:
